<style>
    .gaya{
        margin-top: 60px;
    }
</style>
 <h4><% include ../../partial/header.ejs%></h4> 

    <form id= "update " method="POST" action="/editwarna/<%=id%>">
        <table class="gaya">
            <tr>
                <td>
                    <input type="text" name="namawarna" placeholder="<%= warna[0].warna %>"> 
                </td>
            </tr>
        </table>
      <br><p><button type="submit" class="btn btn-success" value="Simpan" >UPDATE</button>
    </form>
</form>