<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>React App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  </head>

  <style>
      .margin{
          margin-top: 5px;
          width: 250px; 
      }
      .gaya{
          margin-top: 60px;
          width: 100%;
      }
      h4{
          margin-top: 30px;
      }
      .style2{
          width: 400px;
          margin-top: 10px;
      }
      .style1{
          width: 400px;
          background-color: rgb(226, 26, 26);
          color: white;
      }
      .style3{
          width: 600px;
      }
      .style4{
          width: 90%;
      }
      .option {
          color: rgb(132, 8, 8);
          font-size: 14px;
      }
  </style>
  <body>
  <div class="container gaya">    
                    <table class="table table-striped style2">
                        <thead class="thead-dark style1">
                            <th>HISTORY INVOICE</th>
                            <th>Nama Penerima</th>
                        </thead>
                        <tbody>
                            <% historiinvoice.forEach (x => { %>
                                <tr>    
                                    <td> <a href="/invoicedetail/<%= x.kode_invoice %>"><%= x.kode_invoice  %></a></td>
                                </tr>  
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
